

# Folders
/build
/dist
/discloud
/deprecated
/node_modules
.turbo/

# Files
/.env
/.env.dev
/.env.development

# Config files
/firebase.json

# Extensions
*.zip
*.sqlite
*.sql
*.exe
*.db
*.development.json
.vercel
.env*
